<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2)
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<% if @user.posts.empty? %>
  <p><%= @user.name %> has not submitted any posts.</p>
<% else %>
  <%= render @user.posts %>
<% end %>

<h2>Comments</h2>
<% if @user.comments.empty? %>
  <p><%= @user.name %> has not submitted any comments.</p>
<% else %>
  <%= render @user.comments %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
        <div class="media-body">
          <h2 class="media-heading">Favorites</h2>
            <%= render @user.favorited_posts %>
        </div>
        <div class="media-right">
            <small>
              <% if @user.favorited_posts.exists? %>
                <% @user.favorited_posts.each do |post| %>
                  <%= image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(post.user.email)}", :alt => 'Avatar', :class => 'avatar') %>
                  <%= post.user.name %>
                  <%= pluralize("#{7}", 'post') %>,
                  <%= pluralize("#{3}", 'vote') %>
                  <% end %>
              <% end %>
            </small>
        </div>

      </div>
    </div>
  </div>
